<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>{{> doctitle}}</title>
    {{#block 'reisetilskudd/partials/style' }}
    {{/block}}
</head>

<body>
<div id="header">
    <img class="navlogo" src="{{ image "Navlogo.png" }}"/>
    <h1 class="title">{{> title}}</h1>
</div>
<div class="container">
    <div class="personinfo">
        <div class="persontekst">
            <div class="persontekst__sidetopp">
                <img class="personikon" src="{{ image "Personikon.png" }}"/>
                <div class="persontekst__personalia">
                    <p class="navn">
                        {{ navn }}
                    </p>
                    <p class="id">
                        {{ insert_at fnr 6 }}
                    </p>
                </div>
                <div class="sendt">
                    {{# if sendt}}
                        <p>
                            <span class="semibold">Sendt til NAV</span><br/>{{ iso_to_nor_date sendt }}
                        </p>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    <div class="header--small">
        <h2>Spørsmål fra søknaden</h2>
        <!-- Denne er litt tykkere og litt rare enn den i skissene :( -->
    </div>
    <div class="sporsmalcontainer">
        {{# each sporsmal as |spm|~}}
            <div class="oppsummering__seksjon">
                {{> reisetilskudd/partials/sporsmal spm}}
            </div>
        {{/each}}
    </div>

    <div class="header--small ny--side">
        <h2>Kvitteringer for reise</h2>
    </div>
    <table id="kvittering__oppsummering">
        <thead>
            <th></th>
            <th>Dato</th>
            <th>Transport</th>
            <th>Beløp</th>
        </thead>
        <tbody>
        {{# each kvitteringer as |kvittering|~}}
            <tr>
                <td>{{ inc @index }}</td>
                <td><a href="#kvittering_{{ inc @index }}">{{iso_to_date kvittering.datoForUtgift}}</a></td>
                <td><a href="#kvittering_{{ inc @index }}">{{kvittering.typeUtgift}}</a></td>
                <td><a href="#kvittering_{{ inc @index }}">{{int_as_currency_no kvittering.belop}} kr</a></td>
            </tr>
        {{/each}}
            <tr>
                <td class="no_border" colspan="3"><h3>{{ kvitteringer.length }} utlegg på til sammen</h3></td>
                <td class="no_border"><h3>{{ int_as_currency_no kvitteringSum }} kr</h3></td>
            </tr>
        </tbody>
    </table>


    {{# each kvitteringer as |kvittering|~}}
    <div class="ny--side" id="kvittering_{{ inc @index }}">
        <div class="header--small">
            <h2>Kvittering {{inc @index}}</h2>
        </div>
        <div class="kvittering__metadata">
            <p><span class="semibold">Dato</span><br/>{{iso_to_date kvittering.datoForUtgift}}</p>
            <p><span class="semibold">Beløp</span><br/>{{int_as_currency_no kvittering.belop}} kr</p>
            <p><span class="semibold">Transport</span><br/>{{kvittering.typeUtgift}}</p>
        </div>
        <div class="kvittering__bilde">
            <img src="data:image/jpeg;base64,{{kvittering.b64data}}"/>
        </div>
    </div>
    {{/each}}
</div>

<div id="footer">
    <span class="sidetall">side <span id="pagenumber"></span> av <span id="pagecount"></span></span>
</div>
</body>

</html>

