{{#eq svartype "CHECKBOX"}}
    {{#each svar as |s index|~}}
        {{#eq verdi "CHECKED"}}
            <div class="oppsummering__sporsmalscontainer">
                <div class="oppsummering__avkrysset">
                    <img class="checkbox" src="{{ image "Checkboks.png" }}"/>
                    <span class="svar svar--checkbox">{{ sporsmalstekst }}</span>
                </div>
                {{# if undersporsmal }}
                    <div class="oppsummering__undersporsmalsliste">
                        {{# each undersporsmal as |underspm index| ~}}
                            {{> reisetilskudd/partials/sporsmal underspm}}
                        {{/each}}
                    </div>
                {{/if}}
            </div>
        {{/eq}}
    {{/each}}
{{/eq}}

{{#eq svartype "DATOER"}}
    {{#if this.sporsmalstekst}}
        <h3 class="sporsmalstekst">
            {{ this.sporsmalstekst }}
        </h3>
    {{/if}}
    {{#if this.undertekst}}
        <p class="undertekst">
            {{ this.undertekst }}
        </p>
    {{/if }}
    {{# each svar }}
        <p class="svar svar--dato">
            {{ iso_to_long_date verdi }}
        </p>
    {{/each}}
{{/eq}}

{{#eq svartype "CHECKBOX_GRUPPE"}}
    <div class="oppsummering__sporsmalscontainer">
        {{#if this.sporsmalstekst }}
            <h3 class="sporsmalstekst">{{ this.sporsmalstekst }}</h3>
        {{/if}}
        {{#if this.undertekst}}
            <p class="undertekst">
                {{ this.undertekst }}
            </p>
        {{/if }}
        {{# each svar }}
            <p class="svar">
                {{verdi}}
            </p>
        {{/each}}
        {{# if undersporsmal }}
            <div class="oppsummering__undersporsmalsliste">
                {{# each undersporsmal as |underspm index| ~}}
                    {{> reisetilskudd/partials/sporsmal underspm}}
                {{/each}}
            </div>
        {{/if}}
    </div>
{{/eq}}

{{#eq svartype "JA_NEI"}}
    <div class="oppsummering__sporsmalscontainer">
        {{#if this.sporsmalstekst}}
            <h3 class="sporsmalstekst">
                {{ this.sporsmalstekst }}
            </h3>
        {{/if}}
        {{#if this.undertekst}}
            <p class="undertekst">
                {{ this.undertekst }}
            </p>
        {{/if }}
        <div class="oppsummering__avkrysset">
            <img class="checkbox" src="{{ image "Checkboks.png" }}"/>
            <span class="svar svar--checkbox">
                {{ capitalize svar.0.verdi }}
            </span>
        </div>
        {{#not_eq this.tag "ANDRE_INNTEKTSKILDER" }}
            {{#eq svar.0.verdi kriterieForVisningAvUndersporsmal }}
                {{# if undersporsmal }}
                    <div class="oppsummering__undersporsmalsliste">
                        {{# each undersporsmal as |underspm index| ~}}
                            {{> reisetilskudd/partials/sporsmal underspm}}
                        {{/each}}
                    </div>
                {{/if}}
            {{/eq}}
        {{/not_eq}}
        {{#eq this.tag "ANDRE_INNTEKTSKILDER" }}
            {{#if tilNav }}
                {{#eq svar.0.verdi kriterieForVisningAvUndersporsmal }}
                    {{# if undersporsmal }}
                        <div class="oppsummering__undersporsmalsliste">
                            {{# each undersporsmal as |underspm index| ~}}
                                {{> reisetilskudd/partials/sporsmal underspm}}
                            {{/each}}
                        </div>
                    {{/if}}
                {{/eq}}
            {{/if}}
        {{/eq}}
    </div>
{{/eq}}

{{#eq svartype "KILOMETER"}}
    <div class="oppsummering__sporsmalscontainer">
        {{#if this.sporsmalstekst}}
            <h3 class="sporsmalstekst">
                {{ this.sporsmalstekst }}
            </h3>
        {{/if}}
        <div class="oppsummering__tekstsvar">
            {{#each svar}}
                <p class="oppsummering__tekst">
                    {{ formatComma verdi }} km
                </p>
            {{/each}}
        </div>
    </div>
{{/eq}}

{{#eq svartype "BELOP"}}
    <div class="oppsummering__sporsmalscontainer">
        {{#if this.sporsmalstekst}}
            <h3 class="sporsmalstekst">
                {{ this.sporsmalstekst }}
            </h3>
        {{/if}}
        <div class="oppsummering__tekstsvar">
            {{#each svar}}
                <p class="oppsummering__tekst">
                    {{ currency_no verdi }} kr
                </p>
            {{/each}}
        </div>
    </div>
{{/eq}}

{{#eq svartype "CHECKBOX_PANEL"}}
    {{#each svar as |s index|~}}
        {{#eq verdi "CHECKED"}}
            <div class="oppsummering__sporsmalscontainer">
                {{#if undertekst}}
                    <h3 class="sporsmalstekst">
                        {{ undertekst }}
                    </h3>
                {{/if}}
                <div class="oppsummering__avkrysset">
                    <img class="checkbox" src="{{ image "Checkboks.png" }}"/>
                    <span class="svar svar--checkbox">{{ safe sporsmalstekst }}</span>
                </div>
                {{# if undersporsmal }}
                    <div class="oppsummering__undersporsmalsliste">
                        {{# each undersporsmal as |underspm index| ~}}
                            {{> reisetilskudd/partials/sporsmal underspm}}
                        {{/each}}
                    </div>
                {{/if}}
            </div>
        {{/eq}}
    {{/each}}
{{/eq}}
